{% extends "base.html.twig" %}

{% block title %}BestTierList - Accueil
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur BesTierList Test</h1>
        <p class="lead">Ce site est un simple test de templates pour mettre en place un site détaillant les meilleurs tier-list de différents jeux.</p>
        <hr class="my-4">
        <p> Pour commencer, rendez-vous sur la page d'inscription.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="inscription" role="button">Inscription</a>
        </p>
    </div>
</div>

{% endblock %}