{% extends 'base.html.twig' %}

{% block title %}Inscription Bestierlist
{% endblock %}

{% block body %}


<div class="container">

        <h1 class="mt-4">Formulaire d' inscription</h1>

        <form action="{{ path('security-registration') }}" method="post">
            
    {{ form(form) }}
            
        </form>
    </div>
{% endblock %}